<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="{{ url_for('post.all')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{{ url_for('static', filename='img/student-icon.png') }}" alt="student-icon.png" width="40"
             height="32"
             class="me-2">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a href="{{ url_for('post.all')}}" class="nav-link px-2 text-secondary">
                    <font style="vertical-align: inherit;">
                        Главная
                    </font>
            </a>
        </li>
        {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('post.create') }}" class="nav-link px-2 text-white">
                    <font style="vertical-align: inherit;">
                        Добавить тему
                    </font>
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="text-end">
        {% if current_user.is_authenticated %}
            <span>
                Добро пожаловать! {{ current_user.login }}
            </span>
            <a href="{{ url_for('user.logout')}}" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-light me-2">
                    <font style="vertical-align: inherit;">
                        Выйти
                    </font>
                </button>
            </a>
        {% else %}
            <a href="{{ url_for('user.login')}}" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-light me-2">
                    <font style="vertical-align: inherit;">
                        Войти
                    </font>
                </button>
            </a>
            <a href="{{ url_for('user.register')}}" style="text-decoration: none;">
                <button type="button" class="btn btn-warning ">
                    <font style="vertical-align: inherit;">
                        Регистрация
                    </font>
                </button>
            </a>
        {% endif %}
    </div>
</div>
