{% extends 'main/base.html' %}

{% block title %}Темы{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/icon.css') }}">
{% endblock %}


<form method="post" class="form-control d-flex flex-row gap-2" id="teacherForm">
    {{ form.csrf_token }}
    {{ form.teacher }}
    <input type="submit" class="btn btn-success" value="Показать">
</form>

{% block content %}
<div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">Преподаватель</th>
                <th scope="col">Тема</th>
                <th scope="col">Студент</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='uploads/'+post.author.avatar) }}" alt="author avatar">
                        {{post.author.username}}
                    </td>
                    <td>
                        {{post.subject}}
                    </td>
                    <td>
                        {% with student = user.query.get(post.student) %}
                            {% if student %}
                                <img src="{{ url_for('static', filename='uploads/' + student.avatar) }}" alt="student avatar">
                                {{ student.username }}
                            {% else %}
                                <p>Студент не найден.</p>
                            {% endif %}
                        {% endwith %}
                    </td>
                    {% if current_user.is_authenticated and post.author.id == current_user.id %}
                        <td>
                            <a href="{{ url_for('post.update', id=post.id) }}" style="text-decoration: none;">
                                <img class="icon_png"
                                     src="{{ url_for('static', filename='icon_png/edit.png') }}"
                                     alt="edit icon">
                            </a>
                            <a href="{{ url_for('post.delete', id=post.id) }}" style="text-decoration: none;">
                                <img class="icon_png"
                                     src="{{ url_for('static', filename='icon_png/trash-bin.png') }}"
                                     alt="trash bin">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}