/* FONTS Jost */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/jost/Jost-Regular.ttf");
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/jost/Jost-Bold.ttf");
}